<div class="top_wrapper">
  <div class="top_inner">
    <div class="top_box">
      <div class="top_about">
        <h1>
          「日本語ってむずかしい」をゼロに
        </h1>
        <p>
          あなたが書いた文章がより良いものになる<br>言葉のレビューサイト
        </p>
      </div>
      <div class="top_btns">
        <% if current_user %>
          <%= link_to(new_post_path) do %>
            <button type="button" name="button" class="top_btn">
              文章を投稿する
            </button>
          <% end %>
        <% else %>
          <%= link_to(login_path) do %>
            <button type="button" name="button" class="top_btn">
              ログインして投稿する
            </button>
          <% end %>
         <% end %>
      </div>
    </div>
    <div class="top_illust">
      <%= image_tag asset_path("top-img.png") %>
    </div>
  </div>
</div>
<div class="about_wrapper">
  <div class="about_inner">
    <h1>kotohanoとは</h1>
    <p>SNSの普及などにより、自分が書いた文章が多くの人の目に触れる機会が増えた現在、<br>不適切な表現や意図しない伝わり方を防ぐことが重要です。</p>
    <p>kotohanoは、評価してほしい文章をユーザーがチェックすることで、<br>言葉のすれ違いによる「日本語って難しい」を減らすためのサービスです。</p>
    <div class="about_box">
      <div class="about_img">
        <%= image_tag asset_path("scr-post.png") %>
      </div>
      <div class="about_text">
        <h2>レビューして欲しい言葉を投稿</h2>
        <p>レビューしてほしい言葉と、その言葉についての説明を入力します。</p>
        <p>説明欄には、どういう人に向けた言葉なのか、<br>どう感じてほしいのかなどを記入しましょう。</p>
      </div>
    </div>
    <div class="about_box">
      <div class="about_img">
        <%= image_tag asset_path("scr-comment.png") %>
      </div>
      <div class="about_text">
        <h2>コメントで言葉を評価</h2>
        <p>ユーザーの投稿にコメントすることができます。</p>
        <p>読んでどう感じたか、投稿者の意図通りに伝わったかを評価しましょう。</p>
      </div>
    </div>
    <div class="top_btns">
        <% if current_user %>
          <%= link_to(new_post_path) do %>
            <button type="button" name="button" class="top_btn">
              文章を投稿する
            </button>
          <% end %>
        <% else %>
          <%= link_to(login_path) do %>
            <button type="button" name="button" class="top_btn">
              ログインして投稿する
            </button>
          <% end %>
         <% end %>
      </div>
  </div>
</div>
<div class="scene_wrapper">
  <div class="scene_inner">
    <h1>利用シーン</h1>
    <div class="scene_boxes">
      <div class="scene_box">
        <div class="scene_box_inner">
          <h2>SNSで</h2>
          <%= image_tag asset_path("scene1.png") %>
        </div>
        <p>SNSはまさに多くの人の目に触れる場です。あなたの言葉を他の人はどう感じるでしょう。</p>
      </div>
      <div class="scene_box">
        <div class="scene_box_inner">
          <h2>ビジネスで</h2>
          <%= image_tag asset_path("scene2.png") %>
        </div>
        <p>相手に対して失礼な言い回しはないか、自分で読んだだけではなかなか気づきにくいものです。</p>
      </div>
      <div class="scene_box">
        <div class="scene_box_inner">
          <h2>日常生活で</h2>
          <%= image_tag asset_path("scene3.png") %>
        </div>
        <p>英語をネイティブが添削するサービスはありますが、日本語を添削してほしいときもあります。</p>
      </div>
    </div>
  </div>
</div>
<div class="post_wrapper index_wrapper">
  <div class="post_inner index_inner">
    <ul class="index_ul">
      <% @posts.each do |post| %>
        <%= link_to(post_path(post)) do %>
          <li>
            <div class="index_info">
              <div class="user_index_avatar">
              <% if post.user.avatar.attached? %>
                <%= image_tag (post.user.avatar) %>
              <% else %>
                <%= image_tag asset_path ("/user_images/default_icon.jpg") %>
              <% end %>
              </div>
              <p>
              <%= post.user.name %>が
              <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>に投稿
              </p>
            </div>
            <p class="post_index_tit"><%= post.title %></p>
            <p class="post_index_body"><%= post.body[0, 40] %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>