<div class="top_wrapper">
  <div class="top_inner">
    <div class="top_box">
      <div class="top_about">
        <h1 class="top_title">
          「日本語ってむずかしい」をゼロに
        </h1>
        <p class="top_body">
          あなたが書いた文章がより良いものになる<br>言葉のレビューサイト
        </p>
      </div>
      <div class="top_btns">
        <% if current_user %>
          <%= link_to(new_post_path) do %>
            <button type="button" name="button" class="top_btn">
              文章を投稿する
            </button>
          <% end %>
        <% else %>
          <%= link_to(login_path) do %>
            <button type="button" name="button" class="top_btn">
              ログインして投稿する
            </button>
          <% end %>
         <% end %>
      </div>
    </div>
  </div>
</div>
<div class="about_wrapper">
  <div class="about_inner">
    <h1>kotohanoを使ってみよう</h1>
    <div class="about_img">
      <%= image_tag asset_path("scr_post.png") %>
    </div>
    <div class="about_text">
      <h2>レビューして欲しい言葉を入力しよう</h2>
      <p>多くの人が読む文章を、事前にユーザーがチェック</p>
      <p>誤字脱字、不適切な表現の有無や読んだ印象などをレビューしてもらおう</p>
    </div>
  </div>
  <div class="about_inner">
    <div class="about_img">
      <%= image_tag asset_path("scr_comment.png") %>
    </div>
    <div class="about_text">
      <h2>コメントで言葉を評価しよう</h2>
      <p>どんな印象を持ったかコメントしよう</p>
      <p>五つ星で評価しよう</p>
    </div>
  </div>
</div>
<div class="post_wrapper index_wrapper">
  <div class="post_inner index_inner">
    <ul class="index_ul">
      <% @posts.each do |post| %>
        <%= link_to(post_path(post)) do %>
          <li>
            <div class="index_info">
              <div class="user_index_avatar">
              <% if post.user.avatar.attached? %>
                <%= image_tag (post.user.avatar) %>
              <% else %>
                <%= image_tag asset_path ("/user_images/default_icon.jpg") %>
              <% end %>
              </div>
              <p>
              <%= post.user.name %>が
              <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>に投稿
              </p>
            </div>
            <p class="post_index_tit"><%= post.title %></p>
            <p class="post_index_body"><%= post.body[0, 40] %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>