<div class="top_wrapper">
  <div class="top_inner">
    <div class="top_image">
      <%= image_tag asset_path ("books.jpg") %>
    </div>
    <div class="top_box">
      <div class="top_about">
        <%= image_tag asset_path("logo.png") %>
        <h1 class="top_title">
          「日本語ってむずかしい」をゼロに
        </h1>
        <p class="top_body">
          あなたが書いた文章をより良いものになる<br>言葉のレビューサイトです。
        </p>
      </div>
      <div class="top_btns">
        <% if current_user %>
          <%= link_to(new_post_path) do %>
            <button type="button" name="button" class="top_btn">
              文章を投稿する
            </button>
          <% end %>
        <% else %>
          <%= link_to(login_path) do %>
            <button type="button" name="button" class="top_btn">
              ログインして投稿する
            </button>
          <% end %>
         <% end %>
      </div>
    </div>
  </div>
  <div class="top_index">
    <ul class="top_index_ul">
      <% @posts.each do |post| %>
        <%= link_to(post_path(post)) do %>
          <li>
            <p class="top_index_body"><%= post.body[0, 40] %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

