<div class="login_wrapper cont">
  <div class="login_logo">
    <%= image_tag "logo.png", class: 'footer_logo' %>
  </div>
  
  <div class="login_inner">
    <p>kotohanoにログイン</p>
    <%= form_with scope: :session, local: true do |form|%>
      <div class="login_form">
        <%= form.label :email,  "メールアドレス", class: 'form_label' %>
        <%= form.text_field :email, class: 'login_input' %>
      </div>
      <div class="login_form">
        <%= form.label :password,  "パスワード", class: 'form_label' %>
        <%= form.password_field :password, class: 'login_input' %>
      </div>
      <%= form.submit "ログインする", class: 'form_btn_a form_btn' %>
    <% end %>
    <%= link_to(new_user_path) do %>
      <button type="button" name="button" class="form_btn_b form_btn">
        新しいアカウントを作成する
      </button>
    <% end %>
  </div>
</div>
