<div class="login_wrapper cont">
  <div class="login_inner inner">
    <div class="login_title">
      <p>アカウント情報を編集</p>
    </div>
    <%= form_with(model: @user, local: true, multipart: true) do |form|%>
        <div class="login_form">
          <%= form.label :image,  "アイコン画像", class: 'form_label' %>
          <%= form.file_field :avatar, class: 'login_input' %>
          <% if @user.avatar.attached? %>
            <%= @user.avatar.purge %>
          <% end %>
        </div>
        <div class="login_form">
          <%= form.label :name,  "名前", class: 'form_label' %>
          <%= form.text_field :name, class: 'login_input' %>
        </div>
        <div class="login_form">
          <%= form.label :email,  "メールアドレス", class: 'form_label' %>
          <%= form.text_field :email, class: 'login_input' %>
        </div>
      <%= form.submit "更新する", class: 'form_btn login_form_btn' %>
    <% end %>
  </div>
</div>
