<div class="signup_wrapper cont">
  <div class="signup_inner inner">
    <h1>新しいアカウントを作成</h1>
    <%= form_with model: @user, local: true do |form|%>
        <div class="signup_form">
          <%= form.label :name,  "名前", class: 'form_label' %>
          <%= form.text_field :name, class: 'signup_input' %>
        </div>
        <div class="signup_form">
          <%= form.label :email,  "メールアドレス", class: 'form_label' %>
          <%= form.text_field :email, class: 'signup_input' %>
        </div>
        <div class="signup_form">
          <%= form.label :password,  "パスワード", class: 'form_label' %>
          <%= form.password_field :password, class: 'signup_input', placeholder: '忘れるなよ！' %>
        </div>
        <div class="signup_form">
          <%= form.label :password_confirmation,  "パスワード(確認)", class: 'form_label' %>
          <%= form.password_field :password_confirmation, class: 'signup_input', placeholder: '絶対に忘れるなよ！' %>
        </div>
      <%= form.submit "登録する", class: 'form_btn_b form_btn' %>
    <% end %>
  </div>
</div>
