<div class="post_wrapper cont">
  <div class="post_new_inner post_inner">
    <%= form_with model: @post, local: true do |form|%>
      <div class="post_form">
        <%= form.label :title,  "タイトル", class: 'form_label' %>
        <%= form.text_field :title, class: 'post_input_tit', placeholder: '簡潔にな！' %>
      </div>
      <div class="post_form">
        <%= form.label :body, "文章", class: 'form_label' %>
        <%= form.text_area :body, class: 'post_input_con post_input_body', placeholder: 'チェックしてほしい文章を入力してください' %>
      </div>
      <div class="post_form">
        <%= form.label :explanation,  "文章についての説明", class: 'form_label' %>
        <%= form.text_area :explanation, class: 'post_input_con post_input_exp', placeholder: '誰が読むのか、どこに載せるのか、チェックしてほしいポイントなど' %>
      </div>

      <%= form.submit "投稿する", class: 'form_btn_a form_btn' %>
    <% end %>

  </div>
</div>
